<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403447130284-she3ret3co8rgg24binimcufudcntpcr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403447130284-she3ret3co8rgg24binimcufudcntpcr</string>
	<key>API_KEY</key>
	<string>AIzaSyCi6dQPavo_wjnifSksXtPuJBDkrlD1jH8</string>
	<key>GCM_SENDER_ID</key>
	<string>403447130284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tmsc.ovumb</string>
	<key>PROJECT_ID</key>
	<string>ios---ovumb-official</string>
	<key>STORAGE_BUCKET</key>
	<string>ios---ovumb-official.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403447130284:ios:7ef21f8fec127b46335709</string>
</dict>
</plist>